html,
body {
  padding: 0;
  margin: 0;
  font-family: Suez One, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  color: #333;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  color: #333;
  border-radius: 20px;
}

.swiper-wrapper {
  box-sizing: border-box !important;
}

#swiper-products .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: auto !important; */
}
/* 
.swiper-products .swiper-wrapper {
  display: block !important;
} */

#swiper-products.swiper-container {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#swiper-products .swiper-pagination-bullets-dynamic {
  font-size: inherit !important;
}

#swiper-products .swiper-pagination-bullet {
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: #da4e49 !important;
  transition: all 0.5s ease;
  transform: scale(0.75);
  opacity: 1 !important;
}

#swiper-products .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1.75);
}

@media (min-width: 1024px) {
  #swiper-products .swiper-pagination-bullet {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

/* Testimonials Slider */

#swiper-testimonials .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#swiper-testimonials.swiper-container {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#swiper-testimonials .swiper-pagination-bullets-dynamic {
  font-size: inherit !important;
}

#swiper-testimonials .swiper-pagination-bullet {
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: #da4e49 !important;
  transition: all 0.5s ease;
  transform: scale(0.75);
  opacity: 1 !important;
}

#swiper-testimonials .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1.75);
}

@media (min-width: 1024px) {
  #swiper-testimonials .swiper-pagination-bullet {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

/* Partners */

#swiper-partners .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#swiper-partners.swiper-container {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#swiper-partners .swiper-pagination-bullet {
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: #da4e49 !important;
  transition: all 0.5s ease;
  transform: scale(0.75);
  opacity: 1 !important;
}

#swiper-partners .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1.75);
}

@media (min-width: 1024px) {
  #swiper-partners .swiper-pagination-bullet {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}
